@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 2 12 27; /* Navy 950 */
    --foreground: 255 255 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  height: 100%;
  background-color: #020c1b;
  color: white;
  scroll-behavior: smooth;
}
